aiohttp
requests
discord
discord.py
discord.py[voice]
PyNaCl
praw
prawcore
urllib3==1.23
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
git+https://github.com/Rapptz/discord.py@async#egg=discord.py